---
layout: default
---


<div class="container" id="bgcontainer" style="">



  {%- if site.posts.size > 0 -%}
    <div class="row">
      <div class="col-12 col-sm-10 offset-0 offset-sm-1">
        
      {%- for post in site.posts -%}

<a class="row no-decor"  href="{{ post.url | relative_url }}">
<div class="col-8  p-5 pb-0 border-beige offset-2 mt-5 mb-5">
  <div class="left-line">&nbsp;</div>
  <div class="row mr-100">
    <div class="col-12">
      <img src="{{post.image}}" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3">
      <h1 class="homeheader" style="font-family: Gotham; font-weight: 900;">{{ post.title | escape }}</h1>
      {%- assign date_format = site.minima.date_format | default: "%-d %b %Y" -%}
      <p class="float-right" id="datetext" style="border-bottom:1px solid black; margin-top:-50px; margin-right: -180px; font-family: Gotham; font-weight: 900;">{{ post.date | date: date_format }}</p>

    </div>
  </div>
  
    <div class="row">
    <div class=" mt-4 col-8 " style="position: absolute; margin-top: 60px !important;">
    <h5 style="font-family: 0.7rem; font-family: Gotham; color: rgba(0,0,0,0.5); font-weight: 500; margin-top:-20px; top:0; padding-top:0; line-height: 23px;">{{ post.author }}</h5>
    </div>
  </div>
</div>
</a>
<div class="row mb-5 mt-5">
  <div class="col-4 mt-4 offset-4 center-line">
  &nbsp;
  </div>
</div>


      {%- endfor -%}
</div>
</div>
</div>
  {%- endif -%}

<footer>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-12">
        <p></p>
      </div>
    </div>
  </div>
</footer>